<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Carmel-by-the-Sea Book Emporium DBMS</title>
</head>

<main>

<body>

<h1>Caramel-By-The-Sea Book Emporium DBMS</h1>

    <nav>
        <ul class="flex-nav">
            <li><a href= />homepage</a></li>
            <li><a href= /authors>authors</a></li>
            <li><a href= /books>books</a></li>
            <li><a href= /customers>customers</a></li>
            <li><a href= /purchases>purchases</a></li>
            <li><a href= /staff>staff</a></li>
            <li><a href= /authorsBooks>authorsBooks</a></li>
            <li><a href= /purchaseBookDetails>purchaseBookDetails</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</main>

<footer>
    <p class="footer">&copy; 2023 Aidan MacKenzie & Jillian Vondy</p>
</footer>


</html>