<h2>authorsBooks</h2>

<div class="flex-container">

<div>
<table>
    <thead>
        <p>An intersection table, ordered by id.</p>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.book}}</td>
            <td>{{this.author}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

</div>