
<h2>authors</h2>

<p>Authors sorted by last name.</p>

<table id="author-table">

    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.author}}</td>
            <td><button onclick="deleteAuthor({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    
</table>

<script src="./js/delete_author.js"></script>

<br>

<h2>Add a new author using the form below.</h2>
<p>To add a new author, please enter their information below and click Submit!</p>

<form id="add-author-form" method="POST" action="/add-author-form">

    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName">
    <br>

    <label for="input-middleName">Middle Name: </label>
    <input type="text" name="input-middleName" id="input-middleName">
    <br>

    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName">
    <br>
    
    <input type="submit">

</form>

<br>

<h2>Search for an author by last name using the form below.</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>

<form id="search-author-html" method='GET' action='/authors'>

    <label for="input-lastName">Search by Last Name: </label>
    <input type="text" name="lastName" id="input-lastName-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>

</form>