
<h2>homepage</h2>

<div class="flex-container">

    <div>
    <p>
      This series of webpages is designed to serve as a connection to view and
      edit the database for the Caramel-By-The-Sea Book Emporium in an easy,
      simple manner. From here, it will be possible to use CRUD operations on
      the authors, books, customers, purchases, staff, authorsBooks, and
      purchaseBookDetails tables. If you're unsure of which table you should be
      looking to edit, please see below for a description of each table and its
      attributes.
    </p>
    <br>

    <table>
      <tr>
        <th>table</th>
        <th>description</th>
      </tr>
      <tr>
        <td><a href= /authors>authors<a></td>
        <td>
          Information on authors currently or previously sold in the store.
        </td>
      </tr>
      <tr>
        <td><a href= /books>books</a></td>
        <td>Details on books currently or previously sold in the store.</td>
      </tr>
      <tr>
        <td><a href= /customers>customers</a></td>
        <td>Personal information on customers.</td>
      </tr>
      <tr>
        <td><a href= /purchases>purchases</a></td>
        <td>Tracks a number of data points on sales that have been made.</td>
      </tr>
      <tr>
        <td><a href= /staff>staff</a></td>
        <td>Personal information on our staff members.</td>
      </tr>
      <tr>
        <td><a href= /authorsBooks>authorsBooks</a></td>
        <td>An intersection table, linking authors to their specific books.</td>
      </tr>
      <tr>
        <td><a href= /purchaseBookDetails>purchaseBookDetails</a></td>
        <td>
          An intersection table linking purchases to customers and the staff
          that made the sale.
        </td>
      </tr>
    </table>
    </div>

    </div>