@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');


main {
  margin: 0 0 0 0;
  width: 100%;
  border: hidden;
  min-height: calc(100vh - 100px);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #CC9966;
  color: #663300;
  text-align: center;
  margin: 0 0 0 0;
  }
  
h1 {
  font-family: 'Poppins', sans-serif;
  color: #663300;
  padding: 2%;
  text-align: center;
  }

h2 {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
  max-width: 750px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

nav {
  width: 100%;
  border: hidden;
  font-size: 18px;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #663300;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FBFAF5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FBFAF5;
  color: #663300;
}

table, td, th {
  border: 1px solid;
  padding: 10px;
  }


table {
  border: 2.5px solid;
  border-collapse: collapse;
  padding: 25px;
  background-color: #FBFAF5;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

form {
  border: 2px solid;
  padding: 30px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  width: 500px;
  text-align: center;
}

.left {
  text-align: left;
}

input {
  width: 60%;
  padding: 12px 20px;
  margin: 20px 0px 40px 0px;
  display: inline-block;
  border: 2px solid #663300;
  border-radius: 25px;
  box-sizing: border-box;
}

label {
  padding: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

footer {
  font-family: 'Poppins', sans-serif;
  background: #FBFAF5;
  padding: 5px;
  margin-top: 2%;
}

.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #CC9966;
  color: #663300;
  padding: 8px 12px 8px 12px;
  border-style: solid 1px;
  border-color: #663300;
  font-size: 18px;
  margin: 5px;
}

.submit {
  background-color: #CC9966;
  color: #663300;
  padding: 8px 12px 8px 12px;
  border-style: solid 1px;
  border-color: #663300;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

select {
  font-family: 'Poppins', sans-serif;
  background: #FBFAF5;
  color: #663300;
  padding: 8px 12px 8px 12px;
  border-style: solid 2px;
  border-color: #663300;
  border-radius: 25px;
  font-size: 18px;
  margin: 20px 0px 40px 0px;
  width: 60%;
}
